%h1 Sign in
= form_for(@user) do |f|
  = render 'shared/error_messages'
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %br
    = f.password_field :password
  .actions
    = f.submit "Sign in"