%h1 Create Blackmail
= form_for(@blackmail, :html => {:multipart => true}) do |f|
  = render 'shared/error_messages', :object => f.object
  .field
    = f.hidden_field(:user_id, :value => 3)
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_area(:description, :rows => 3)
  .field
    = f.label :victim_name
    %br
    = f.text_field :victim_name
  .field
    = f.label :victim_email
    %br
    = f.text_field :victim_email
  .field
    = f.label :blackmail_will_be_exposed_in_how_many_minutes_from_now?
    %br
    = f.text_field :expired_at  
  .field
    = label_tag :blackmail_image
    %br
    = file_field_tag :img_location, :accept => 'image/png,image/gif,image/jpeg'
  .field
    = f.fields_for :demands do |k| 
      = k.label :demands_one_per_line
      %br
      = k.label :complete?
      = k.check_box :completed
      %br
      = k.text_area(:description, :rows => 3)  
  .actions
    = f.submit "That's Blackmail!"