- @blackmails.each do |i|
  .blackmail
    .header
      .name #{i[:victim_name]}
      .time
        %span.countdown{data: {'countdown-seconds' => i.expired_at.to_i}}
      .title #{i[:title]}
    .main
      - 5.times do|k|
        - if(FileTest.exists?("#{Rails.root}/app/assets/images/blackmail/#{i[:id]}_#{k}.jpg"))
          - @location = "/assets/blackmail/#{i[:id]}_#{k}.jpg"
          = image_tag @location
          %br
      .description #{i[:description]}
    .footer
-#.loading-more
-#  %div Loading more blackmail...
