- @expired_blackmails.each do |i|
  .blackmail
    .header
      .name #{i[:victim_name]}
      .time
        Expires in
        %span.countdown{data: {'countdown-seconds' => 5.days.from_now.to_i}}
      .title #{i[:title]}
    .main
      - 5.times do|k|
        - @location = "#{Rails.root}/app/assets/images/blackmail/#{i[:id]}_#{k}.jpg"
        - if(FileTest.exists?(@location))
          = image_tag @location
          %br
      .description #{i[:description]}
    .footer
.loading-more
  %div Loading more blackmail...
