- Blackmail.exposed.each do |blackmail|
  .blackmail
    .header
      .name #{blackmail.victim_name}
      .time
        %span.countdown{data: {'countdown-seconds' => blackmail.expired_at.to_i}}
      .title #{blackmail.title}
    .main
      - 5.times do|k|
        - if File.exists? "#{Rails.root}/app/assets/images/blackmail/#{blackmail.id}_#{k}.jpg"
          - @location = "/assets/blackmail/#{blackmail.id}_#{k}.jpg"
          = image_tag @location, class: 'countdown', data: {'countdown-seconds'=>blackmail.expired_at.to_i}, style: 'visibility: hidden'
          %br
      .description #{blackmail.description}
    .footer
-#.loading-more
-#  %div Loading more blackmail...
