%h1 Create Blackmail
= form_for @blackmail do |f|
  = render 'shared/error_messages', :object => f.object
  .field
    = f.hidden_field(:user_id, :value => @user_id)
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_area(:description, :rows => 3)
  .field
    = f.label :victim_name
    %br
    = f.text_field :victim_name
  .field
    = f.label :victim_email
    %br
    = f.text_field :victim_email
  .field
    = f.label :specify_blackmail_expiration_time
    %br
    Date: 
    = f.date_select :expired_at  
    Time:     
    = f.time_select :expired_at, :ignore_date => true  
  .field
    = fields_for :demands do |builder| 
      = builder.label 'List your demands. Use a new line to separate multiple demands.'
      = builder.text_area :description, rows: 3  
  .field
    = f.label :image
    %br
    = f.file_field :image, :accept => 'image/jpeg'
    %br      
  .actions
    = f.submit "That's Blackmail!"
%br
