%h1 Blackmail View

.blackmail
  .header
    .name= @blackmail.victim_name
    .time
      %span.countdown{data: {'countdown-seconds' => @blackmail.expired_at.to_i}}
    .title= @blackmail.title
  .main
    - 5.times do |k|
      - if(FileTest.exists?("#{Rails.root}/app/assets/images/blackmail/#{@blackmail.id}_#{k}.jpg"))
        - @location = "/assets/blackmail/#{@blackmail.id}_#{k}.jpg"
        = image_tag @location
        %br
    .description= @blackmail.description
    %br
    %strong
      = "demands:"
    %br
    - @b_demands.each do |d|
      = d[:description].to_s
      %strong
        %br
        = " Completed? "
        = d[:completed]
      %br
      %br
    %em
      = "Demands must be met by time set. If demands are not met by that time, the description, victim's name, title, and all images will be posted to the front page. Thank you for your cooperation."
  .footer



