%h1 Blackmail View

.blackmail
  .header
    .name= @blackmail.victim_name
    .time
      %span.countdown{data: {'countdown-seconds' => @blackmail.expired_at.to_i}}
    .title= @blackmail.title
  .main
    = image_tag image_blackmail_path @blackmail
    .description= @blackmail.description
    %br
    %h2 Demands
    - @blackmail.demands.each do |demand|
      = demand[:description].to_s
      %strong
        %br
        - if demand[:completed]
          Completed
        - else
          Not completed
      %br
      %br
    %h2 Negotiations
    - @blackmail.messages.each do |message|
      %strong= message.from_victim ? @blackmail.victim_name : 'Blackmailer'
      = "at #{message.created_at}"
      %br
      = message.content
      %br
      %br
    = form_for [@blackmail, @blackmail.messages.new] do |f|
      = f.label :content, 'Send a message'
      %br
      = f.text_area :content, cols: 40, rows: 5
      %br
      = f.submit 'Negotiate'
    %em Demands must be met by time set. If demands are not met by that time, the description, victim's name, title, and all images will be posted to the front page. Thank you for your cooperation.
  .footer
