%h1 Blackmail View

.blackmail
  .header
    .name= @blackmail.victim_name
    .time
      Expires in
      %span.countdown{data: {'countdown-seconds' => @blackmail.expired_at.to_i}}
    .title= @blackmail.title
  .main
    - 5.times do|k|
      - @location = "#{Rails.root}/app/assets/images/blackmail/#{@blackmail.id}_#{k}.jpg"
      - if(FileTest.exists?(@location))
        = image_tag @location
        %br
    .description= @blackmail.description
    %br
    = "demands:"
    %br
    - @b_demands.each do |d|
      = d[:description].to_s
      %br
  .footer



