!!!
%html
  %head
    %meta(http-equiv='x-ua-compatible' content='ie=edge; chrome=1')
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=800')
    %meta(name='format-detection' content='telephone=no')
    = csrf_meta_tags
    %title Blackmailr | Get what you want, when you want it, or else...
    = stylesheet_link_tag 'application', :media => 'all'
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'application'
  %body
    #wrap
      #header
        = link_to '', :root, id: 'home-link'
        .nav
          - if signed_in?
            = link_to 'New', new_blackmail_path, class: 'push-state'
            = link_to 'My Blackmail', '/home', class: 'push-state'
            = link_to 'Sign out', '/sign-out', data: {method: 'post'}
          - else
            = link_to 'Sign up', '/sign-up'
            = link_to 'Sign in', '/sign-in'
      #main= yield
      #footer
        = link_to 'Subscribe to our RSS feed!', params.merge(format: :rss)
        %br
        Blackmailr isn't responsible for anything, so don't sue us or we'll blackmail you =]
