!!!
%html
  %head
    %meta(http-equiv='x-ua-compatible' content='ie=edge; chrome=1')
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=800')
    %meta(name='format-detection' content='telephone=no')
    = csrf_meta_tags
    %title Blackmailr | Get what you want, when you want it, or else...
    = stylesheet_link_tag 'application', :media => 'all'
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'application'
  %body
    #wrap
      #header
        - if true#logged_in
          = link_to 'New', new_blackmail_path, class: 'push-state'
          = link_to 'Profile', '/profile', class: 'push-state'
          = link_to 'Sign out', '/sign-out'
        - else
          %a#sign-in-or-sign-up Sign in or sign up!
      #main= yield
      #footer Blackmailr isn't responsible for anything, so don't sue us or we'll blackmail you =]
